// TODO: import global sass files
@import "../../global.scss";
$primary-color: #272727;
main {
  background-color: rgba(177, 210, 210, 0.916) !important;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  p {
    font-size: 1.15em;
    font-family: "Lato", sans-serif;
    text-align: justify;
    margin: 15px;
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-grid > img {
    margin: 10px;
  }

  .jobs {
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 50px;
    justify-content: center;
    color: antiquewhite;

    &__job {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid #ff652f;
      color: antiquewhite;

      h2,
      h3 {
        margin: 0.5rem 0;
      }
      h6 {
        margin: 0.3rem 0;
      }
      p {
        text-align: justify;
      }
    }
  }
}
