// TODO: import global sass files
@import "../../global.scss";


.about {
  
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
.user {
    align-items: left;
    margin: 10px;
  }
  
  h1 {
        overflow: hidden;

    font-size: 50px;
  }
  h2 {
        overflow: hidden;

    font-size: 30px;
  }
  h1,
  h2 {
    @include mobile {
      height: 65px;
      font-size: 15px;
    }
  }
  .wrapper {
    overflow: hidden;
    article {
      width: 90%;
      border-radius: 1rem;
      overflow: hidden;
      padding: 2rem !important;
      color: #fff;

     @include mobile {
      height: 5px;
      font-size: 15px;
    }

      img {
        &.user {
          height: 100px;
          border-radius: 50%;

          .user img:hover {
            opacity: 1;
          }

          @include mobile {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    @include mobile {
      flex-direction: column;
      height: 100%;
    }
  }
}
